@font-face {
    font-family: liberatus;
    src: url(fonts/Libertatus-Reg-FFP.ttf);
}

@font-face {
    font-family: liberatus-italic;
    src: url(fonts/Libertatus-Reg-Italic-FFP.ttf);
}


body {
	margin: 0;
	padding: 0;
	background-color: #6a91ff;

}

#vn-container {
	width: 60%;
}

#vn-header {
	height: 100px;
	display: flex;
	align-items: center;
	font-size: 64px;
	letter-spacing: 2px;
	font-family: liberatus;
	color: #FFFFEC;
}

#vn-header, #vn-url, #player {
	padding-left: 15px;
}

#vn-url {
	padding-bottom: 25px;
}

#vn-url-text {
	width: 60%;
	height: 28px;
	font-family: Avenir;
}

#vn-submit, #vn-import, #vn-export {
	background-color: #FFFFEC;
	padding: 5px;
	border-radius: 3px;
	margin-left: 15px;
	color: #6a91ff;
	font-family: liberatus;
	cursor: pointer;
}

#vn-url-text, #vn-submit, #vn-import, #vn-export {
	display: inline-block;
	font-size: 20px;
}

#vn-container, #vn-notes, #vn-url-text, .vn-timestamp, .vn-note-text, .note-entry {
	float: left;
}

#vn-notes {
	margin: 30px 0 0 15px;
	width: 38%;
	display: block;
}

#vn-notes-container {
	background-color: #ffffa5;
	overflow-y: scroll;
}

#vn-text {
	resize: none;
}

#vn-text, .note-entry {
	font-size: 18px;
	font-family: Avenir;
}

.note-entry {
	border-bottom: thin solid grey;
	padding-bottom: 10px;
}

.vn-timestamp {
	text-align: center;
	width: 80px;
	border-right: thin solid grey;
}

.vn-timestamp-text {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.vn-note-text {
	padding-left: 15px;
	width: 500px;
}

.vn-timestamp, .vn-note-text {
	padding-top: 5px;
	padding-bottom: 5px;
}

.vn-tool-btns {
	float:right;
	padding: 10px;
	background-color: #FFFFEC;
	border: thin solid grey;
	font-family: liberatus;
	color: #6a91ff;
	cursor: pointer;
}

.note-tools {
	width: 20px;
	height: 20px;
	cursor: pointer;
	padding: 5px 5px 0 5px;
}
